@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 600, 700');

/*BLOQUE COOKIES*/
#barraacceptacio {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}
.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}
.inner a.ok {
    padding:4px;
    color:#fff;
    text-decoration:none;
}
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#fff;
}
/*FIN BLOQUE COOKIES*/

*
{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300!important;
}


body
{
    margin-left:15px!important;
    margin-right:15px!important; 
}

#headerTitle
{
   position: absolute;
   top: 0%;
   margin-top: 5%;
   color: white;
   margin-left: 4%;
}

.content
{
    padding: 2%!important;
    padding-bottom: 5%!important;
    padding-top: 5%!important;
}

#categories
{
    background-color: #f0f1f1!important;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15%;
}

.subCat
{
    font-weight: 600!important;
    padding-bottom: 2.5%;
}

.titleOffer
{
    font-weight: 600!important;
    padding: 0;
}

#shopMargin
{
    margin-left: -3.5%!important;
    font-size: 20px;
}

.date
{
    font-size: 12px;
    color: #969797; 
    padding-bottom: 0.5%;
}

.pictoImg
{
    padding-right: 5%!important;
    margin-top: -2.5%;
}

.filtersMargin
{
    margin-bottom: 5%!important;
}

a
{
    color: black;
}
a:hover
{
    text-decoration: none;
    color: black;
    font-weight: 600!important;
}

.imgCat:hover
{
    opacity: 0.7!important;
}

.imgOpa
{
    background-color: #A8A9AB;
    z-index: 2;
    height: 40px;
    opacity: 0.8;
    position: absolute;
    bottom: 0%;
    width: 100%;
    vertical-align: middle;
    padding: 0%;
}

.addressImg
{
    margin-top: 2.5%;
    font-size: 0.9em;
    color: black!important;
    padding-left: 4%;
}

.fa-map-marker {
    padding-right: 2%;
}

.imgPromoSel
{
    z-index: 1;
}

.imgPadd
{
    padding: 0!important;
}

.infoPromo
{
    margin-top: 1%;
    padding-bottom: 4%;
}

.promosAll
{
    margin-bottom: 5%!important;
}

.titleOfferPromo
{
    font-weight: 600!important;
    font-size: 25px!important;
    margin-top: 8%!important;
    padding: 0;
}

#footerDiv
{   
    height: 100px;
    background-color: #627c90;
}

.XNasso
{
    margin-top: 14%;
}

.asso1 
{
    margin-top: 6%;
}
.condPromo
{
    margin-top: 5%!important;
    margin-left: 2%;
}

.condicionsPromo
{
    font-weight: 600!important;
}

.offerPromo
{
    padding-bottom: 2%!important;
    padding: 0;
}

.breadCrumb
{
    padding-bottom: 3%!important;
}

hr.style14 
{ 
    width: 80%;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.imgShop
{
    margin-top: 2%!important;
}

.condPromoShop
{
    margin-top: 1%;
}

.descShopSel
{
    font-size: 15px;
    text-align: center;
}

.descShopBold
{
 font-weight: 600!important;
 margin-top: 10%;
}

.logoAjuntament
{
    margin-top: 4%!important;
}

.descShop
{
    margin-top: 10%!important;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) { 
    #headerTitle
    {
       font-size: 16px;
   }  
   .subCat
   {
    padding-bottom: 1%;
    font-weight: 600!important;
}
#categories
{
    margin-bottom: 5%;
}
.descShopBold
{
 font-weight: 600!important;
 margin-top: 0;
}
.imgLogo
{
    padding-right: 5%;
    margin-top: 8%;
}

.descShopBold
{
    margin-right: 24%;
}

}

@media (min-width: 320px) and (max-width: 479px) {    
 
    .pictoImg
    {
        margin-top: -0.5%;
        width: 14%;  
    } 
    .infoPromo
    {
        margin-left: 1.6%;
    }

    .condPromo
    {
        margin-left: -2.3%;
    }
}


@media (min-width: 480px) and (max-width: 575px) {    
 
    .pictoImg
    {
        margin-top: -0.5%;
        width: 12%;  
    } 
    .infoPromo
    {
        margin-left: 1%;
    }

}
@media (max-width: 767px) {    
    #barraacceptacio {
        bottom:5%!important;
        min-height:120px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {    
 
 .pictoImg
{
    margin-top: -0.5%;
    width: 11%;  
} 
.infoPromo
{
    margin-left: 0%;
}

}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {    
    #headerTitle
    {
       font-size: 18px;
   } 
   .subCat
   {
    padding-bottom: 1%;
    font-weight: 600!important;
}
#categories
{
    margin-bottom: 10%;
}
.infoPromo
{
    margin-left: 8.5%;
}
}

@media (min-width: 768px) and (max-width: 950px) {    
 
 .pictoImg
{
    margin-top: -0.5%;
    width: 25%;  
} 

}

@media (min-width: 951px) and (max-width: 1199px) {    
 
 .pictoImg
{
    margin-top: -0.5%;
    width: 20%;  
} 

}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 992px) {   
    #headerTitle
    {
       font-size: 18px;
   } 
   .subCat
   {
    padding-bottom: 1%;
    font-weight: 600!important;
}
#categories
{
    margin-bottom: 10%;
}
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1200px) {    
    #headerTitle
    {
       font-size: 20px;
   } 
   #categories
   {
    margin-bottom: 10%;
    }
    .infoPromo
    {
        margin-left: 8.5%;
    }
}