@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 600, 700');

/*BLOQUE COOKIES*/
#barraacceptacio {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}
.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}
.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}
/*FIN BLOQUE COOKIES*/

*
{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300!important;
}

body
{
    margin-left:15px!important;
    margin-right:15px!important; 
}

#headerTitle
{
 position: absolute;
 top: 0%;
 margin-top: 5%;
 color: white;
 margin-left: 4%;
}

.content
{
    padding: 2%!important;
    padding-bottom: 5%!important;
    padding-top: 5%!important;
}

#categories
{
    background-color: #f0f1f1!important;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10%;
}

.subCat
{
    font-weight: 600!important;
    padding-bottom: 2.5%;
}

.titleOffer
{
    font-weight: 600!important;
}

.date
{
    font-size: 12px;
    color: #969797; 
}

a
{
    color: black;
}
a:hover
{
    text-decoration: none;
    color: black;
    font-weight: 600!important;
}
.imgCat:hover
{
    opacity: 0.7!important;
}
#footerDiv
{   
    height: 100px;
    background-color: #2a4357;
}

#txtFooter
{
    color: white;position: relative;
    right: 5%;
    top: 32%;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) { 
    #headerTitle
{
 font-size: 16px;
}  
#txtFooter
{
    font-size: 12px;
}
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {    #headerTitle
{
 font-size: 18px;
} 
#txtFooter
{
    font-size: 14px;
}   }

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 992px) {   #headerTitle
{
 font-size: 18px;
}  
#txtFooter
{
    font-size: 16px;
}  }

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1200px) {    #headerTitle
{
 font-size: 20px;
}   
#txtFooter
{
    font-size: 18px;
} }