<div class="content">
	<div class="row" ng-show="list">
		<div class="col-lg-2 col-xs-12 col-md-3 col-sm-3">
			<label id="categories" class="col-lg-12 col-xs-6 col-md-12 col-sm-12">
				Selecciona la categoria:
			</label>
			<div class="row">
				<label ng-repeat="filter in filters" class="col-lg-12 col-xs-12 col-md-12 col-sm-12 subCat">
					<a href="" ng-click="filterCat(filter.idCategory)">
						<div class="col-lg-3 col-xs-2 col-md-4 col-sm-4 pictoImg">
							<img ng-src="../ebesos/img/pictograms/{{filter.urlPicto1}}" class="img-responsive">
						</div>
						{{filter.name}}
					</a>
				</label>
			</div>	
		</div>
		<div class="col-lg-10 col-xs-12 col-md-9 col-sm-9">
			<div class="col-lg-4 col-xs-12 col-md-6 col-sm-6 promosAll" ng-repeat="promo in promos">
				<a href="" ng-click="searchOffer(promo.idPromo);">
					<img ng-src="{{web}}/img/promotions/{{promo.image}}" alt="categoria3" class="img-responsive imgCat">
				</a>
				<label class="date">
					Data de caducitat {{promo.dataExpire}}
				</label>
				<div class="">
					<label class="titleOffer">
						{{promo.offer}}
					</label>
				</div>
				<div class="">
					<label class="">
						{{promo.nameShop}}
					</label>
				</div>							
			</div>
		</div>
	</div>
	<div ng-hide="list">
		<div class="row">
			<div class="breadCrumb col-lg-12 ">
				Inici | Ofertes
			</div>
			<div class="col-lg-10 col-lg-offset-1">
				<div class="col-lg-5">
					<label class="titleOffer" id="shopMargin">
						{{promoSel[0].nameShop}}
					</label>
					<div class="row">
						<label class="col-lg-12 offerPromo">
							{{promoSel[0].offer}}
						</label>	
					</div>
					<div class="row">
						<div class="imgOpa col-lg-12">
							<label class="addressImg col-lg-12">
								<i class="fa fa-map-marker" id="icoGps" aria-hidden="true"></i>Carrer {{promoSel[0].address}}
							</label>
						</div>
						<div class="col-lg-12 imgPadd">
							<img ng-src="{{web}}/img/promotions/{{promoSel[0].image}}" alt="categoria3" class="img-responsive imgPromoSel">	
						</div>						
					</div>
				</div>
				<div class="col-lg-5 condPromo">
					<label class="col-lg-12 titleOfferPromo">
						Oferta
					</label>
					<p class="col-lg-12s">
						{{promoSel[0].conditions}}
					</p>
				</div>
			</div>
		</div>
		<div class="row infoPromo">
			<div class="row">
				<label class="date col-lg-4">
					Data de caducitat {{promoSel[0].dataExpire}}
				</label>
			</div>
			<div class="row">
				<label class="date col-lg-4">
					Telèfon {{promoSel[0].phone}}
				</label>
			</div>
			<div class="row">
				<label class="date col-lg-4">
					{{promoSel[0].mail}}
				</label>
			</div>
		</div>
		<hr class="style14">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3 col-lg-push-2 imgShop">
					<img ng-src="../ebesos/img/logos-shops/{{promoSel[0].logo}}" alt="logoComerç" class="col-lg-6 col-xs-3 img-responsive imgLogo">
				</div>
				<div class="descShopSel col-lg-7">
					<p class="descShopBold">
						Descripció de la empresa:
					</p>
				</div>
				<div class="col-lg-6">
					<p class="condPromoShop">
						{{promoSel[0].descriptionLong}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div> 