<div class="content">
	<div class="row" ng-show="list">
		<div class="col-lg-2">
			<label id="categories" class="col-lg-12">
				Selecciona la categoria:
			</label>
			<div class="col-lg-12" >
				<label class="col-lg-12 subCat">
					<a href="#">
						Alimentació<i class="fa fa-shopping-basket" aria-hidden="true"></i>
					</a>	
				</label>
				<label class="col-lg-12 subCat">
					<a href="#">
						Restauració
						<i class="fa fa-cutlery" aria-hidden="true"></i>
					</a>
				</label>
				<label class="col-lg-12 subCat">
					<a href="#">
						Comerç al detall
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</a>
				</label>
				<label class="col-lg-12 subCat">
					<a href="#">
						Serveis
						<i class="fa fa-wrench" aria-hidden="true"></i>
					</a>
				</label>
			</div>	
		</div>
		<div class="col-lg-10">
			<div class="col-lg-4 promosAll" ng-repeat="promo in promos">
				<a href="" ng-click="searchOffer(promo.idPromo);">
					<img ng-src="img/{{promo.image}}" alt="categoria3" class="img-responsive imgCat">
				</a>
				<label class="date">
					Data de caducitat {{promo.dataExpire}}
				</label>
				<div class="">
					<label class="titleOffer">
						{{promo.offer}}
					</label>
				</div>
				<div class="">
					<label class="">
						{{promo.nameShop}}
					</label>
				</div>							
			</div>
		</div>	
	</div>
	<div ng-hide="list">
		<div class="row">
			<div>
				Inici | Ofertes
			</div>
			<div class="col-lg-10 col-lg-offset-1">
				<div class="col-lg-5">
					<label class="titleOffer">
						{{promoSel[0].nameShop}}
					</label>
					<div class="row">
						<label class="col-lg-12">
							{{promoSel[0].offer}}
						</label>	
					</div>
					<img ng-src="img/{{promoSel[0].image}}" alt="categoria3" class="img-responsive imgPromoSel">
					<div class="imgOpa">
						<label class="addressImg col-lg-12">
							<i class="fa fa-map-marker" id="icoGps" aria-hidden="true"></i>Carrer {{promoSel[0].address}}
						</label>
					</div>
					<div class="row">
						<label class="date col-lg-12">
							Data de caducitat {{promoSel[0].dataExpire}}
						</label>
					</div>
					<div class="row">
						<label class="date col-lg-12">
							Telèfon {{promoSel[0].phone}}
						</label>
					</div>
					<div class="row">
						<label class="date col-lg-12">
							{{promoSel[0].mail}}
						</label>
					</div>
				</div>
				<div class="col-lg-5">
					<label class="col-lg-12 titleOfferPromo">
						Oferta
					</label>
					<p class="col-lg-12">
						{{promoSel[0].conditions}}
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img ng-src="img/{{promoSel[0].logo}}" alt="logoComerç" class="col-lg-6">
				<div class="col-lg-6">
					<p class="">
						{{promoSel[0].descriptionLong}}
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div> 